name: CI
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        java: [ '11', '17' ]
    runs-on: ubuntu-latest
    steps:
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v3
      with:
        java-version: ${{ matrix.java }}
        distribution: 'corretto'
        cache: maven
    - uses: actions/checkout@v3
      with:
        repository: 'amousavigourabi/thrift-compiler-jar'
        ref: 'master'
        path: 'thriftc'
    - name: Install Thrift compiler JAR
      run: mvn -B install --file thriftc/pom.xml
    - uses: actions/checkout@v3
      with:
        path: 'thriftm'
    - name: Verify
      run: mvn -B verify --file thriftm/pom.xml
